 .head--image{
width: 550px;
}
.writing {
  overflow: hidden;
  letter-spacing: .15em; /* Adjusts space between letters */
  animation: typing 3s steps(40, end);
}

.st-half{
    display: flex;
    flex: 5;
    justify-content: center;
}
.st-half h1{
    z-index: 1;
}
.nd-half{
    display: flex;
    flex: 3;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  .fade-in {
    transition: opacity 1.5s ease-in-out;
    opacity: 1;
  }