.toggle-button {
    display: block;
    margin: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .Navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #f8f9fa;
    display: none;
  }
  
  .Navbar.show {
    display: block;
  }
  
  .Navbar li {
    float: left;
  }
  
  .Navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Adjust the styles for small screens */
  @media only screen and (max-width: 500px) {
    .Navbar li {
      width: 100%;
    }
  }
  